<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/profile">Login with PIV/CAC</a>
  </body>
</html>
